.titulo1{
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  color: #FFFFFF;
  margin-left: 10px;

}

.titulo2{
  color: #FFFFFF;
  font-family: 'Arial';
  font-style: normal;
  font-size: 24px;
  line-height: 44px;
  font-style: inherit;
  margin-left: 10px;
}

.lista{
  list-style: none;
  padding: 0;
  width: 760px;
  height: 400px;
  overflow-y: auto;
}

.sizesquare {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

