.wrapper{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  font-family: "Poppins", sans-serif;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}